.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #b2a4a4;
}

.cardq {
  margin-top: 6px;
  margin-right: 10px;
  width: 250px;
  height: 10%;
}

.cardelement {
  width: 220px;
  height: 200px;
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 7px;
}

.overlay {
  position: fixed;
  width: 500px;
  z-index: 1;
  background-color: khaki;
  /* Specify a stack order in case you're using a different order for other elements */
  /* Add a pointer on hover */
}
